<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML CSS Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li> <a href="">Services</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">
            <section>
                <h2>About me</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic cum aspernatur recusandae? Ad veniam consequatur consectetur possimus dolore rerum est nobis at sint. Reprehenderit itaque, ut similique nostrum dolorem voluptas.</p>
            </section>
            <section>
                <h2>Our  Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis provident ullam, numquam hic ea laborum atque vero, aspernatur fugit eum dolorem perferendis inventore sed harum odit ab doloremque libero.</p>

            </section>
            <section>
                <h2>Portfolio</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur quas veritatis iure mollitia similique totam, sunt explicabo nobis distinctio aspernatur, doloremque ad pariatur nihil. Voluptas vel non fugiat laborum fuga.</p>

            </section>
        </div>
        <aside class="sidebar">
            <h2>Latest News</h2>
            <ul>
                <li>News 1</li>
                <li>News 2</li>
                <li>News 3</li>
            </ul>
        </aside>
    </div>
    <footer>
        <p>&copy;2024 my Website</p>
    </footer>
</body>
</html>